body {
  font-family: $tsf-font;
}

.no-scroll {
  overflow-y: hidden;
}

h1 {
  font-family: $tsf-font;
  font-weight: $tsf-font-weight-bold;
  color: $dark-grey;
}

h2 {
  font-size: 22px;
  margin: 0;
  letter-spacing: -1;
  line-height: 27px;
  text-transform: uppercase;
  @include respond-to(small) {
    line-height: 36px;
    font-size: 28px;
    margin-bottom: 48px;
  }
}

h2, h3 {
  color: $navy-blue;
  font-weight: normal;
}

h3 {
  font-family: $tsf-font;
}

h4 {
  color: $dark-grey
}
p {
  color: $dark-grey;
  margin-bottom: 8px;
  color: $dark-grey
}

.sub-copy {
  color: $light-grey-para;
  font-size: 12px;
  font-family: $tsf-font;
  margin-top: 8px;
  width: 100%;
}

.font-bold {
  font-weight: bold;
}

.container {
  box-sizing: border-box;
  max-width: 1092px;
}

.title-2 {
  font-family: $tsf-font;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  &.top {
    top: 0;
  }
  &.center {
    right: 50%;
    transform: translateX(50%);
  }
}
.fixed {
  position: fixed;
}

.avatar-container {
  background-color: white;
}

.error {
  background-color: $utility-red;
  color: $white;
  padding: 8px 16px;
  border-radius: 0 0 5px 5px;
  font-family: $tsf-font;
  font-weight: bold;
  font-size: 14px;
  max-width: 468px;
  display: block;
  box-sizing: border-box;
}

.error-highlight {
  outline-color: $utility-red !important;
  border: 1px solid $utility-red !important;
  border-radius: 5px 5px 0 0 !important;
}

.details {
  padding: 16px;
  .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $dark-grey;
    // padding: 8px 0;
    margin-bottom: 32px;

    .label {
      margin-bottom: 8px;
    }
    span {
      font-weight: bold;
    }
    .sub-copy {
	  font-weight: normal;
      color: $light-grey-para;
      font-size: 12px;
      font-family: $tsf-font;
      margin-top: 8px;
      width: 100%;
    }

    @include respond-to(small) {
      margin-bottom: 24px;
    }
  }

  @include respond-to(small) {
    padding: 16px 0 0 48px;
  }
}

.flex-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  @include respond-to(small) {
    flex-direction: row;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// margin helpers

.my-3 {
  @extend .mt-32, .mb-32;
}

.mx-3 {
  @extend .ml-32, .mr-32;
}
.text-decoration-none {
  text-decoration: none;
}
.mb-fifteen {
  margin-bottom: 15px;
}
.pl-ten {
  padding-left: 10px;
}

/**
 * Copied from Bootstrap 5.x CSS
 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/**
 * Copied from Bootstrap 4.x
 */
.sr-only {  
  -webkit-clip-path: inset(50%);
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/**
 * Copied from Bootstrap 5.x
 */
.visually-hidden, 
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}