// Primary brand colours
$red: rgb(200, 20, 15);
$red--08: rgba(200, 20, 15, 0.08);
$bright-blue: rgb(0, 30, 234);

$field-borders: rgb(130, 150, 170);

$black: #000;
$black--80: rgba(0, 0, 0, 0.8);
$white: rgb(255, 255, 255);

// Blues
$navy-blue: rgb(15, 30, 70);
$utility-blue: $bright-blue;

$dark-grey: #333;
$light-grey-para: #666;
$disabled-txt: rgb(110, 130, 150);
$middle-light-grey: #efefef;

$breakpoints: (
  'xx-small': 300px, // 18.75rem
  'x-small': 480px,  // 30rem
  'small': 768px,    // 48rem
  'medium': 1024px,  // 64rem
  'large': 1200px    // 75rem
);

$margins: (
  '1': 128px, // 8rem
  '2': 64px,  // 4rem
  '3': 32px,  // 2rem
  '4': 16px,  // 1rem
  '5': 8px,   // 0.5rem
);

$font: Verdana, Arial, Helvetica, sans-serif;
$font-mt: $font;
