@import "./config";

// Components
@import "./components/shared-components/whole-input-field";
@import "./components/shared-components/radio-select-input";
@import "./components/shared-components/auto-complete";
@import "./components/shared-components/pretty-select";

html {
  margin: 0;
  position: relative;
}
body {
  margin: 0;
}
